.box {
  .imgs {
    border-radius: 10px;
    overflow: hidden;
    width: 285px;
    height: 285px;
    margin-bottom: 10px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h4 {
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 3.5%;
    color: #252525;
    margin-bottom: 5px;
  }
  h6 {
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 3.5%;
    color: #252525;
    margin-bottom: 10px;
  }
  span {
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 3.5%;
    color: #252525;
  }
}
