nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  .container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-family: "Quicksand", serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 3.5%;
      color: #252525;
      &.active {
        color: #f37725;
      }
    }
    button {
      font-family: "Quicksand", serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #252525;
      display: flex;
      gap: 5px;
      border: 2px solid #252525;
      border-radius: 100px;
      padding: 8px 25px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      span {
        font-weight: 700;
        font-size: 16px;
        color: #f47726;
      }
    }
  }
}
