footer {
  .container {
    padding: 40px 0;
  }
  .card {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    .menu {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      a {
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 3.5%;
        color: #252525;
        &.active {
          color: #f37725;
        }
      }
    }
  }
  .row {
    padding-top: 20px;
    border-top: 1px solid #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col {
      display: flex;
      gap: 20px;
    }
    h6 {
      font-family: "Quicksand", serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 3.5%;
      color: #000000;
    }
  }
}
