.homeHero {
  padding-top: 81px;
  background-color: #f6e6cd;
  .container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .info {
    width: 50%;
    h1 {
      font-family: "Russo One", serif;
      font-weight: 400;
      font-size: 56px;
      line-height: 120%;
      letter-spacing: 1%;
      color: #252525;
      margin-bottom: 20px;
    }
    p {
      font-family: "Quicksand", serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 1%;
      color: #252525;
      margin-bottom: 20px;
    }
    button {
      font-family: "Quicksand", serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 10%;
      color: #ffffff;
      background: linear-gradient(to right, #ffb483, #f47726);
      border-radius: 100px;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(0.98);
      }
    }
  }
  .image {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

.product-section {
  .container {
    padding: 60px 0;
  }
  .title {
    margin-bottom: 40px;
    h5 {
      font-family: "Quicksand", serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 3.5%;
      color: #252525;
      margin-bottom: 10px;
    }
    h2 {
      font-family: "Russo One", serif;
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: 1%;
      color: #252525;
      margin-bottom: 10px;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: "Quicksand", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 3.5%;
        color: #252525;
      }
      button {
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 10%;
        color: #252525;
        border: 2px solid #252525;
        padding: 8px 30px;
        background-color: transparent;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(0.98);
        }
      }
    }
  }
  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
