.contact {
  padding-top: 81px;
  .container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .info {
    width: 50%;
    h2 {
      font-family: "Russo One", serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 120%;
      letter-spacing: 3.5%;
      color: #252525;
      margin-bottom: 20px;
    }
    p {
      font-family: "Quicksand", serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 3.5%;
      color: #252525;
      margin-bottom: 20px;
    }
    form {
      display: grid;
      label {
        font-family: "Quicksand", serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 3.5%;
        color: #252525;
        margin-bottom: 10px;
      }
      input {
        font-family: "Quicksand", serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 3.5%;
        color: #252525;
        margin-bottom: 20px;
        border: 1px solid #252525;
        outline: none;
        border-radius: 10px;
        padding: 8px 20px;
      }
      textarea {
        width: 100%;
        height: 150px;
        font-family: "Quicksand", serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 3.5%;
        color: #252525;
        margin-bottom: 20px;
        border: 1px solid #252525;
        outline: none;
        border-radius: 10px;
        padding: 8px 10px;
      }
      .row {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;
        span {
          font-family: "Quicksand", serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 3.5%;
          color: #252525;
        }
        input {
          margin-bottom: 0;
        }
      }
      button {
        font-family: "Quicksand", serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 3.5%;
        color: white;
        background-color: #252525;
        border-radius: 100px;
        display: inline;
        padding: 8px 20px;
        border: none;
        cursor: pointer;
      }
    }
  }
  .imgs {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

.blok {
  .container {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .box {
    svg {
      color: #ffb483;
      font-size: 24px;
      margin-bottom: 20px;
    }
    h4 {
      font-family: "Quicksand", serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 3.5%;
      color: #252525;
      margin-bottom: 10px;
    }
    p {
      font-family: "Quicksand", serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 3.5%;
      color: #252525;
      margin-bottom: 10px;
    }
    a {
      text-decoration: underline;
      font-family: "Quicksand", serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 3.5%;
      color: #252525;
      margin-bottom: 10px;
    }
  }
}
